.App {
  text-align: center;
  width: 790px;
  margin: 0 auto;
}

.App-title {
  font-size: 4em;
  color: white;
}

.App-intro {
  font-size: large;
}

.subtitle {
	color: #fff;
	text-align: left;
}

.subsubtitle {
	color: #fff;
	text-align: left;
	margin-left: 10px;
}

.indent {
	margin-left: 40px;
}