.App {
	text-align: center;
	width: 790px;
	margin: 0 auto;
}

.App-title {
	font-size: 4em;
	color: white;
}

.App-intro {
	font-size: large;
}

svg {
	width: 100%;
	height: auto;
}

.subtitle {
	color: #fff;
	text-align: left;
}

.subsubtitle {
	color: #fff;
	text-align: left;
	margin-left: 10px;
}

.indent {
	margin-left: 40px;
}

@media screen and (max-width: 870px) {
	.App {
		width: 100%;
	}

	.App-title {
		font-size: 2.2em;
	}

	.subtitle {
		font-size: 1.5em;
	}

	.subsubtitle {
		font-size: 1.2em;
	}

	.indent {
		margin-left: 20px;
	}
}