g#all-button rect {
	-webkit-transition: fill 0.5s;
	transition: 0.5s;
	fill: #fff;
}

g#all-button rect.clicked {
	-webkit-transition: fill 0.5s;
	transition: 0.5s;
	fill: #d3d3d3;
}

g#season-slider.disabled {
	pointer-events: none;
}

g#season-slider .parameter-value text {
	-webkit-transition: fill 0.5s;
	transition: fill 0.5s;
	font-size: 14px;
	fill: #fff;
}

g#season-slider.disabled .parameter-value text {
	-webkit-transition: fill 0.5s;
	transition: fill 0.5s;
	fill: #aaa;
}